body {
  padding: 3em 10%;
  font-family: serif;
  text-align:center;
}
h1{
    color: red;
    background-color: blue;
}
p{
    text-decoration: italic underline;
    color: pink;
    background-color: black;
}
h2{
    font-family: "times new roman", sarif;
}